/*Robert Zuniga */
/*  */
h1 {
    font-size: 28px;
    line-height: 60px;
}

body {
    /* Typography */
    font-size: 18px;
    line-height: 30px;
  
    /* Visual */
    background-color: #ccc;

  }
